.content__tel{
    margin: 0;
    padding: 30px;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.2em;
    color: #00c395;
    text-decoration: none;
}
@media screen and (max-width: 1200px) {
    .content__tel{
        font-size: 20px;
        letter-spacing: 0.1em;
        padding: 20px;
    } 
}
@media screen and (max-width: 850px) {
    .content__tel{
        letter-spacing: 0.05em;
        padding: 15px;
    } 
}
