.content__container-for-tel{
    margin: 0 40px 0 40px;
    padding: 0;
    background-color: #ffc843;
    width: 400px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: opacity .7s;
}
.content__container-for-tel:hover{
    opacity: .7
}