.content__title{
    margin: 0;
    padding: 30px 0 0 40px;
    font-size: 55px;
    font-weight: 900;
    line-height: 75px;
    letter-spacing: 0em;
    color: rgb(61, 61, 61)
}
@media screen and (max-width: 1200px) {
    .content__title{
        padding: 15px 0 0 40px;
        font-size: 45px;
        line-height: 60px;
    }
}
@media screen and (max-width: 950px) {
    .content__title{
        font-size: 40px;
        line-height: 50px;
    }
}
@media screen and (max-width: 850px) {
    .content__title{
        font-size: 35px;
        line-height: 40px;
    }
}
@media screen and (max-width: 800px) {
    .content__title{
        padding: 0;
        max-width: 90%;
        text-align: center;
    }
}