.content__container-for-contact{
    margin:0 0 0 40px;
    padding: 0;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
@media screen and (max-width: 800px) {
    .content__container-for-contact{
        margin: 0;
        justify-content: center;
    }
}